*.o
*.so
*.so.*
*.mod
*.lst
*~
Makefile.comm
docs/_build/
src/lib/*
src/macros
src/HRLDAS/user_build_options
*exe
/.project
src/Run
src/Run/
src/setEnvar.sh
src/Makefile.comm
src/Land_models/NoahMP/user_build_options
src/Land_models/Noah/user_build_options
src/LandModel
src/LandModel_cpl
src/Land_models/NoahMP/MPP
build/
README.md
/.idea
*__pycache__*
*pytest_cache*
*.log
compile_options.sh
.DS_Store
.venv
.vscode
