atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.8.0
boltons==18.0.1
bs4==0.0.1
certifi==2019.6.16
cftime==1.0.3.4
chardet==3.0.4
cloudpickle==1.2.1
dask==0.19.4
DateTime==4.3
deepdiff==3.3.0
f90nml==1.0.2
idna==2.7
importlib-metadata==0.19
jsonpickle==1.2
locket==0.2.0
more-itertools==7.2.0
netCDF4==1.4.1
numpy==1.17.1
pandas==0.23.4
partd==1.0.0
pathlib==1.0.1
pluggy==0.12.0
py==1.8.0
pytest==3.9.1
pytest-datadir-ng==1.1.0
pytest-html==1.19.0
pytest-metadata==1.8.0
python-dateutil==2.8.0
pytz==2019.2
requests==2.20.0
six==1.12.0
soupsieve==1.9.3
toolz==0.10.0
urllib3==1.24.3
wrfhydropy==0.0.16
xarray==0.10.9
zipp==0.6.0
zope.interface==4.6.0
