&NOAHLSM_OFFLINE

 HRLDAS_CONSTANTS_FILE = "@domainDIR/wrfinput_d03_lake_adj"
 INDIR  = '@forcingDIR'
 OUTDIR = '@outputDIR'  

!MMF_RUNOFF_FILE = "/raid/weiyu/HRLDAS_V3.5_wrk/data/wrfleafxyz_d01.nc"

 START_YEAR  = @YYYY 
 START_MONTH  = @MM 
 START_DAY  = @DD 
 START_HOUR  = @HH 
 START_MIN   = @MIN 

! KDAY = 1
 KHOUR =   6 


! RESTART_FILENAME_REQUESTED  = 'RESTART.2008062700_DOMAIN3'


 DYNAMIC_VEG_OPTION                = 1
 CANOPY_STOMATAL_RESISTANCE_OPTION = 1
 BTR_OPTION                        = 1
 RUNOFF_OPTION                     = 3
 SURFACE_DRAG_OPTION               = 1
 FROZEN_SOIL_OPTION                = 1
 SUPERCOOLED_WATER_OPTION          = 1
 RADIATIVE_TRANSFER_OPTION         = 3
 SNOW_ALBEDO_OPTION                = 2
 PCP_PARTITION_OPTION              = 1
 TBOT_OPTION                       = 2
 TEMP_TIME_SCHEME_OPTION           = 1


 FORCING_TIMESTEP = 3600
 NOAH_TIMESTEP    = 3600
 OUTPUT_TIMESTEP  = 3600
! OUTPUT_TIMESTEP  = 43200

 RESTART_FREQUENCY_HOURS = 24 !240
 ! Split output after split_output_count output times.
 SPLIT_OUTPUT_COUNT = 1


 NSOIL=4
 soil_thick_input(1) = 0.10
 soil_thick_input(2) = 0.30
 soil_thick_input(3) = 0.60
 soil_thick_input(4) = 1.00

! ZLVL = 15.0
 ZLVL = 30.0

!Specification of forcing data:  1=HRLDAS-hr format, 2=HRLDAS-min format, 3=WRF, 4=Idealized, 5=Ideal w/ Spec.Precip., 6=HRLDAS-hrl y format w/ Spec. Precip 
 FORC_TYP = 1

! for extract greenfrac
 GEO_STATIC_FLNM = "@domainDIR/geo_em.d03.nc"

!HRLDAS_ini_typ 1: initial and parameters from frocing; 0: from wrfinput.
 HRLDAS_ini_typ = 0

 SNOW_assim = 0

/

&URBAN_OFFLINE
 UCMCALL = 0
 ZLVL_URBAN = 15.0
/
